body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header{
    background-color: #282828;
    color: whitesmoke;
}

ul{
    display: flex;
    gap: 10px;
    padding:25px;
    list-style-type: none;
    margin: 0;
}

li{
    cursor: pointer;
}

.logo{
    font-family: 18px;
    font-weight: 700;
}

.icon{
    width: 25px;
}

h1{
    font-size: 40px;
    font-weight: 400px;
    margin: 30px 25px;
}

.caption{
    margin: 0 25px;
}

.align-right{
    margin: auto 0 auto auto;
}

.item-img{
    width: 100%;
}